.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border: 0.2px solid var(--primary);
    max-width: 250px;
    margin-left: 1rem;
}

.badge-on-card {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem;
}

.card-product-image {
    max-width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card-details {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-dis {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-pricing {
    font-weight: bold;
}

.discount-pricing {
    font-weight: lighter;
    margin-left: 0.5rem;
    text-decoration: line-through;
}

.card-like {
    color: var(--white);
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

.card-like:hover {
    color: var(--primary);
}

.card-remove {
    font-size: 1.5rem;
    color: var(--black);
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0.5rem;
    cursor: pointer;
}

.card-remove:hover {
    font-size: large;
}

.card-button {
    background-color: transparent;
    color: var(--black);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--black);
    cursor: pointer;
    width: 100%;
}

.card-button:hover {
    color: var(--white);
    background-color: var(--primary);
}