body {
    font-family: 'Blinker', sans-serif;
    font-size: 1rem;
    margin-bottom: 10rem;
}

.gs-heading {
    color: var(--primary);
    font-weight: bold;
}

.header {
    display: none;
}


/* sidebar desktop view */

.sidebar {
    position: fixed;
    background: var(--primary);
    /* max-height: calc(100% - 5px);
overflow-y: auto; */
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar-h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background: var(--primary);
    padding: 0.5rem;
    font-weight: bold;
}

.sidebar-version-heading {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.sidebar-ul-li {
    margin: 1.6rem 1.6rem;
}

.sidebar-ul-li-a {
    font-size: 1.5rem;
    color: var(--white);
    padding: 0 1.8rem;
}

.sidebar-ul-li-a:hover {
    color: var(--black);
    margin-left: 1.2rem;
    transition: 0.4s;
}

.home {
    padding: 0;
    margin-left: 2rem;
    margin-right: 1rem;
    font-weight: bold;
}

.home:hover {
    margin-left: 3rem;
}

.footer {
    margin-top: 7rem;
}

.link {
    margin-left: 1rem;
    margin-right: 0.5rem;
}


/* main container which has all component div in it */

.components-container {
    margin-left: 350px;
    padding: 1rem;
}


/* comp => components */

.comp {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px 0 var(--box-shadow-color);
}

.comp-heading {
    color: var(--primary);
    font-size: 2rem;
    padding: 1rem;
}


/* component description class */

.comp-dis {
    padding: 1rem;
    font-size: 1.5rem;
}


/* code snippets container class and iframe div class */

.code-example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* .showcase-div:last-of-type {
margin-bottom: 50px;
} */

.code-example {
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}


/* .content h2 {
margin-top: 20px;
} */

@media only screen and (max-width: 768px) {
    .components-container {
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 0;
    }
    /* desktop sidebar wont appear in mobile view */
    .sidebar {
        display: none;
    }
    /* hamburger menu for mobile view */
    .header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background-color: var(--primary);
        color: var(--white);
        padding: 1.5rem 1rem;
        margin-bottom: 2rem;
        border-bottom-right-radius: 1rem;
    }
    .hamburger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .hamburger {
        background-color: var(--primary);
        outline: none;
        border: none;
    }
    /*code snippets on mobile */
    .code-example {
        overflow: scroll;
    }
    /* components section*/
    .alert {
        width: 100%;
    }
    .card {
        margin-bottom: 1.5rem;
    }
    .badge-allign {
        margin-left: 0.4rem;
    }
    .modal {
        top: 15rem;
        left: 1rem;
        right: 1rem;
    }
}